:root{
    --raleway: 'Raleway', sans-serif;
    --opensans: 'Open Sans', sans-serif;
    --brand: #744fa0;
    --pcol: #555555;
    --hcol: #353535;
}

*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    vertical-align: middle;
}

.conteinar{
    width: 1170px;
    margin: 0 auto;
}

/*========================================= 
                common css ends
===========================================*/
.b-p{
    font-size: 14px;
    text-align: left;
    padding: 8px 0 4px 0;
}
.b-p2{
    font-size: 18px;
    text-align: left;
}
.text-upper{
    text-transform: uppercase;
}
.text-cap{
    text-transform: capitalize;
}
.text-cen{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

.open-reg{
    font-family: var(--opensans);
    font-weight: 400;
}
.open-bold{
    font-family: var(--opensans);
    font-weight: 700;
}

.rale-bold{
    font-family: var(--raleway);
    font-weight: 700;
}
.rale-reg{
    font-family: var(--raleway);
    font-weight: 400;
}
.rale-light{
    font-family: var(--raleway);
    font-weight: 300;
}

.col-white{
    color: #fff;
}
.pcol{
    color: var(--pcol);
}
.hcol{
    color: var(--hcol);
}
.fs14{
    font-size: 14px;
}
.fs18{
    font-size: 18px;
}
.lh20{
    line-height: 20px;
}
.fs47{
    font-size: 47px;
}
.fs15{
    font-size: 15px;
}
.ml30{
    margin-left: 30px;
}

/*========================================= 
                typography css ends
===========================================*/
.heading-text{
    width: 310px;
    height: 18px;
    margin: auto;
    margin-bottom: 10px;
}
.heading-text h3{
    text-align: center;
    font-family: 'Raleway', sans-serif; 
    font-weight: 700;
    text-transform: uppercase;
    color: #353535;
    font-size: 24px;
}
#heading{
    width: 130px;
    height: 22px;
    margin: auto;
    display: flex;
}


#heading #heading-line{
    width: 75px;
    height: 6px;
    margin: auto;
  
}

.heading-line{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.line1{
    width: 44px;
    height: 2px;
    background: #353535;
    margin-bottom: 2px;
}
.line2{
    width: 49px;
    height: 2px;
    background: #353535;
    
}

.rocket img{
    width: 15px;
    height: 20px;
}


/* h3{
    text-align: center;
    font-family: 'Raleway', sans-serif; 
    font-weight: 700;
    text-transform: uppercase;
    color: #353535;
    font-size: 24px;
}
.heading{
    width: 121px;
    height: 22px;
    margin: 0 auto;
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
}
.heading-line{
    width: 49px;
    height: 22px;
   
}

.line{
    margin-left: 5px;
}

.heading .line1{
    width: 44px;
    height: 1px;
    background: #000;
    margin-top: 9px;
    
}
.heading .line2{
    width: 49px;
    height: 1px;
    background: #000000;
    margin-top: 2px;
    display: flex;
    flex-wrap: wrap;
}
.rocket{
    width: 15px;
    height: 22px;
}

.heading .rocket img{
    width: 15px;
    height: 20px;
} */

/*========================================= 
                common css ends
===========================================*/
.menu-bg{
    width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 11111;
    
}
.menu-bg .menu{
    height: 135px;
    display: flex;
}

.menu-bg .menu .logo{
    height: 100%;
    width: 230px;
}
.menu-bg .menu .logo img{
    padding-top: 58px;
}

.menu-bg .menu .text{
    height: 100%;
    width: 830px;
}
.menu-bg .menu .text ul{
    display: flex;
    justify-content: flex-end;
    padding-top: 90px;
}

.menu-bg .menu .text ul li a{
    font-size: 14px;
    color: white;
    padding-left: 35px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
.menu-bg .menu .text ul li:last-child{
    padding-right: 25px;
}

.menu-bg .menu .text ul li a:hover{
    color:#744fa0 ;
}

.menu-bg .menu .menu-btn{
    height: 100%;
    width: 110px;
}
.menu-bg .menu .menu-btn .m-btn{
 display: inline-block;
 font-size: 14px;
 margin-top: 75px;
 padding: 15px 19px;
 background: #744fa0;
 color: white;
 border-radius: 5px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 -ms-border-radius: 5px;
 -o-border-radius: 5px;
 transition: all linear .4s;
 -webkit-transition: all linear .4s;
 -moz-transition: all linear .4s;
 -ms-transition: all linear .4s;
 -o-transition: all linear .4s;
}
.menu-bg .menu .menu-btn .m-btn:hover{
    background: white;
    color:#744fa0  ;
}

/* ====================================
            menu css ends
===================================== */
.banner-bg{
    height: 700px;
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position:  center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.banner-bg::after{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .70);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.banner-bg .banner{
    height: 100%;
    text-align: right;
}
.banner-bg .banner .b-h{
    font-size: 56px;
    color: white;
    padding-top: 230px;
}
.banner-bg .banner .b-h::first-letter{
    color: var(--brand);
}
.banner-bg .banner .b-h2{
    font-size: 32px;
    padding-top: 10px;
    padding-bottom: 30px;
}
.hr{
    width: 200px;
    height: 1px;
    background: #f1f1f1;
    text-align: right;
    margin-left: 970px;
}

.banner-bg .banner .bp{
    font-size: 14px;
    padding-left: 700px;
    line-height: 20px;
    margin: 30px 0 60px 0;
}

.banner-bg .banner .banner-btn{
    width: 189px;
    height: 59px;
    background: var(--brand) ;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
    position: relative;
    margin-left: 5px;
}

.banner-bg .banner .banner-btn .b-icon{
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.banner-bg .banner .banner-btn:hover .b-icon{
    background:white;
}
.banner-bg .banner .banner-btn .b-icon i{
    font-size: 33px;
    color: white;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
.banner-bg .banner .banner-btn:hover .b-icon i{
    color: rgba(0, 0, 0, 0.705);
}
.banner-bg .banner .banner-btn .b-text{
    width: 129px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
.banner-bg .banner .banner-btn:hover .b-text{
    background: white;
    color: black;
}
.banner-bg .banner .banner-btn:hover .b-text p{
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
.banner-bg .banner .banner-btn:hover .b-text p{
    color: black;
}

/* ====================================
            banner css ends
===================================== */
.about-bg{
    height: 341px;
    margin: 100px 0 120px 0;
}
.about-bg .about{
    height: 341px;
    display: flex;
}

.about-bg .about .about-text{
    width: 630px;
    height: 100%;
    margin: 0 100px 0 70px;
}
.about-bg .about .about-text .about-heading{
    height: 110px;
}
.about-bg .about .about-text .about-heading > .heading-text{
    padding-top: 52px;
}
.about-bg .about .about-text .about-txt{
    height: 231px;
}
.about-bg .about .about-text .about-txt .at-p1{
    padding: 25px 0 30px 0;
}

.about-bg .about .about-text .about-txt .at-p1,
.about-bg .about .about-text .about-txt .at-p2{
    font-size: 14px;
    color: var(--pcol);
    text-align: center;
    line-height: 20px;
}
.about-bg .about .about-image{
    width: 370px;
    height: 100%;
    background-image: url(../images/about-imaaage.png);
}

/* ====================================
            about us css ends
===================================== */
.future-bg{
    height: 540px;
    margin-bottom: 140px;
}
.future-bg .future{
    height: 540px;
}

.future-bg .future .future-heading{
    height: 70px;
}
.future-bg .future .future-content{
    height: 470px;
    display: flex;
    justify-content: space-between;
}
.future-bg .future .future-content .future-text{
    height: 100%;
    width: 370px;
}
.future-bg .future .future-content .future-text .f-text{
    width: 100%;
    height: 94px;
    position: relative;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
.future-bg .future .future-content .future-text .f-text:hover{
    box-shadow: 0px 0px 10px 10px #dddd;
}
.future-bg .future .future-content .future-text .f-text::after{
    content: "";
    width: 270px;
    height: 2px;
    background:black ;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
.future-bg .future .future-content .future-text .f-text:hover:after{
    width: 370px;
    background:var(--brand) ;
}

.future-bg .future .future-content .future-text .f-text i{
    font-size: 42px;
    color: #353535;
    padding-top: 20px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
.future-bg .future .future-content .future-text .f-text:hover i{
    color: var(--brand);
}
.future-bg .future .future-content .future-text .f-h{
    font-size: 18px;
    color: var(--hcol);
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 54px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
.future-bg .future .future-content .future-text .f-text:hover .f-h{
    color: var(--brand);
}
.future-bg .future .future-content .future-text .f-text:hover .f-p{
    color: var(--brand);
}

.future-bg .future .future-content .future-text .f-p{
    font-size: 14px;
    color: var(--pcol);
    position: absolute;
    top: 46px;
    left: 54px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.future-bg .future .future-content .future-image{
    height: 100%;
    width: 260px;
    background-image: url(../images/future-image.png);
    background-repeat: no-repeat;
    background-position: center;
}

.future-bg .future .future-content .future-par{
    height: 100%;
    width: 370px;
}
.future-bg .future .future-content .future-par .fh4{
    padding-top: 92px;
}
.future-bg .future .future-content .future-par .fu-p{
    font-size: 18px;
    color: var(--hcol);
}
.future-bg .future .future-content .future-par .fp-p{
    padding: 25px 0;
}

/* ====================================
            future us css ends
===================================== */
.screen-bg{
    height: 540px;
}
.screen-bg .screen{
    height: 540px;
   
}
.screen-bg .screen .screen-heading{
    height: 115px;
    
}
.screen-bg .screen .screen-image{
    height: 425px;
   background-image: url(../images/screenshots.png);
   background-repeat: no-repeat;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: flex-end;
}
.screen-bg .screen .screen-image .boxing{
    width: 100px;
    height: 25px;
    margin-bottom: 10px;
}
.screen-bg .screen .screen-image .boxing ul{
    display: flex;
    justify-content: space-between;
}

.screen-bg .screen .screen-image .boxing ul li{
    width: 15px;
    height: 15px;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.screen-bg .screen .screen-image .boxing ul .active{
    position: relative;
}
.screen-bg .screen .screen-image .boxing ul li span{
    width: 8px ;
    height: 8px;
    background-color:var(--brand) ;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

/* ====================================
            screenshots us css ends
===================================== */
.video-top{
    height: 115px;
    margin: 100px 0 0 0;
}
.video-bottom{
    height: 500px;
    margin-bottom: 100px;
    background-image: url(../images/video.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
}
.video-bottom::after{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.60);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -11;
}
.v-icon{
    width: 80px;
    height: 80px;
}
.v-icon i{
    font-size: 80px;
    color: white;
    text-align: center;
}

/* ====================================
            video us css ends
===================================== */
.plan-bg{
    height: 535px;
    margin-bottom: 100px;
} 
.plan-bg .plann{
    height: 535px;
}
.plan-bg .plann .plan-top{
    height: 110px;
}
.plan-bg .plann .plan-bottom{
    height: 425px;
    display: flex;
    justify-content: space-between;
}
.plan-bg .plann .plan-bottom .p-content{
    width: 270px;
    height: 100%;
}
.plan-bg .plann .plan-bottom .p-content .ptop .pt-1{
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
.plan-bg .plann .plan-bottom .p-content:hover .ptop .pt-1{
    color: white;
}

.plan-bg .plann .plan-bottom .p-content .ptop{
    width:100%;
    height: 60px;
    background: #ddd;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 11;
}
.plan-bg .plann .plan-bottom .p-content .ptop::after{
    content: "";
    width: 0%;
    height: 0%;
    background:var(--brand) ;
    position: absolute;
    bottom:0 ;
    left:0;
    opacity: 0;
    z-index: -111;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
.plan-bg .plann .plan-bottom .p-content:hover .ptop::after{
   width: 100%;
   height: 100%;
    opacity: 1;
}

.plan-bg .plann .plan-bottom .p-content .p-mid{
    width: 100%;
    height:170px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plan-bg .plann .plan-bottom .p-content .p-mid .pcr{
    width: 115px;
    height: 115px;
    border: 1px solid hsl(0, 4%, 90%);
    box-sizing: border-box;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content:center ;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
.plan-bg .plann .plan-bottom .p-content:hover .p-mid .pcr{
    border-color: var(--brand);
    box-shadow: 0px 0px 10px 10px rgb(202, 193, 193);
}

.plan-bg .plann .plan-bottom .p-content .pbottom{
    width: 100%;
    height:195px ;
    background: #ddd;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
.plan-bg .plann .plan-bottom .p-content:hover .pbottom{
    box-shadow: 0px 0px 10px 10px rgb(202, 193, 193);
}

.plan-bg .plann .plan-bottom .p-content .pbottom .p-p2{
    padding-top:35px;
}

.plan-bg .plann .plan-bottom .p-content .pbottom .p-p3{
    padding-bottom: 12px;
}
.plan-bg .plann .plan-bottom .p-content .pbottom .p-p5{
    display: inline-block;
    padding:10px 15px;
    border: 1px solid black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
.plan-bg .plann .plan-bottom .p-content:hover .pbottom .p-p5{
    background:var(--brand) ;
    color: white;
    border-color:var(--brand) ;
}
.plan-bg .plann .plan-bottom .p-content .pbottom .p-p4{
    margin-bottom: 20px;
}
/* ===============================
plan css ends
================================ */
.team-bg{
    height: 665px;
    margin-bottom: 100px;
   
}
.team-bg .team{
    height: 665px;
}
.team-bg .team .team-heading{
    height: 110px;
}
.team-bg .team .team-content{
    height: 555px;
    overflow: hidden;
    display: flex;
}
.team-bg .team .team-content .team1{
    width: 370px;
    height: 100%;
    position: relative;
}
.t1{
    background-image: url(../images/team1.png);
}
.t2{
    background-image: url(../images/team2.png);
}
.t3{
    background-image: url(../images/team3.png);
}
.team-bg .team .team-content .team1 .team1-top{
    width: 100%;
    height: 370px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
   
    position: absolute;
    left: 0;
    top:19%;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
.team-bg .team .team-content .team1:hover .team1-top{
    top: 0;
}
.team-bg .team .team-content .team1 .team1-top .overlay{
    width: 0%;
    height: 0%;
    background: rgba(0, 0, 0, .70);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.team-bg .team .team-content .team1:hover .team1-top .overlay{
    width: 100%;
    height: 100%;
    opacity: 1;
}
.team-bg .team .team-content .team1 .team1-top .overlay .icon{
    width: 50px;
    height: 50px;
    background: rgb(230, 229, 229);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
.team-bg .team .team-content .team1 .team1-top .overlay .icon:hover{
    background:var(--brand) ;
}
.team-bg .team .team-content .team1 .team1-top .overlay .icon i{
    font-size: 24px;
    color: black;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
.team-bg .team .team-content .team1 .team1-top .overlay .icon:hover i{
    color: white;
}

.team-bg .team .team-content .team1 .team1-bottom{
    width: 370px;
    height: 185px;
    background: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    left: -100%;
    bottom: -100%;
    opacity: 0;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
.team-bg .team .team-content .team1:hover .team1-bottom{
    opacity: 1;
    left: 0;
    bottom: 0;
    
}
.team-bg .team .team-content .team1 .team1-bottom .t-p{
    padding: 0 55px;
    margin-top: 15px;
}
.team-bg .team .team-content .team1 .team1-bottom .t-h{
    padding-top: 25px;
    padding-bottom: 8px;
}



/* ===============================
        team awosome css ends
================================ */

.user{
    height: 660px;
}
.user .user-top{
    height: 110px;
}
.user .user-bottom{
    height: 550px;
    background-image: url(../images/feedback.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 555;
}
.user .user-bottom::after{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.712);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -11;
}
.user .user-bottom .user-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user .user-bottom .user-content .round-f{
    width: 475px;
    height: 150px;
    display: flex;
    justify-content: space-between;
}
.user .user-bottom .user-content .feedback{
    width: 800px;
    height: 210px;
    background: rgb(255, 255, 255);
    margin: 45px auto;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.user .user-bottom .user-content .feedback .f-p{
    padding: 0 10px;
    margin: 30px 0 20px 0;
    line-height: 20px;
    font-size: 14px;
}
.user .user-bottom .user-content .feedback i{
    color: var(--brand);
    font-size: 14px;
}
.user .user-bottom .user-content .feedback .sadman{
    padding: 6px 0;
}
.user .user-bottom .user-content .feedback .angle{
    width: 30px;
    height: 30px;
    background: rgb(255, 255, 255);
    position: absolute;
    left: 380px;
    bottom: -15px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.user .user-bottom .user-content .round-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
   position: relative;
}

.user .user-bottom .user-content .round-img::after{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.50);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.user .user-bottom .user-content .r-2{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* ===============================
        user awosome css ends
================================ */
.touch{
    height: 540px;
   
    margin-top: 100px;
  
}
.touch .top{
    height: 110px;
   
}
.touch .bottom{
    height: 430px;
   
}
.touch .bottom .botton-from{
    height:100%;
   
}
.touch .bottom .botton-from form input{
    width: 370px;
    height: 50px;
    margin-left: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border:1px solid black ;
    box-sizing: border-box;
    outline: none;
}

.touch .bottom .botton-from form textarea{
    width: 1130px;
    height: 200px;
    resize: none;
    margin-left: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 30px;
    border:1px solid black ;
    box-sizing: border-box;
    outline: none;
}
#send{
    width: 70px;
    height: 33px;
    background:var(--brand) ;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* ===============================
        touch  awosome css ends
================================ */
.fotter-bg{
    height: 260px;
    background: #353535;
}
.fotter-bg .footer{
    width: 370px;
    height: 260px;
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.click{
    width: 300px;
    height: 60px;
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
}
.click i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
    font-size: 20px;
}
.click i:hover{
    background:var(--brand) ;
    color: white;
}

.red{
    color: red;
}

/* ===============================
        fotter  awosome css ends
================================ */